body{
	min-width: 250px;
	background: #fdf4f4;
	margin: 10px;
	color: #333333;
	font-size: 12px;
	font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
}

#showCountArea{
	display: none;
}

#showCountTxtArea{
	width: 280px;
	margin: 20px;
	text-align: center;
}

.countTxtArea{
	margin: 6px;
}

.countDuedateArea{
	background: url("img/maskingtape.png");
	line-height: 26px;
}

.countTxt{
	color: #171f55;
	font-size: 24px;
}

.commentArea{
	margin: 6px;
}

#resetArea{
	text-align: right;
}

#showInputArea{
	display: none;
}

#inputArea{
	width: 280px;
	margin: 20px;
	text-align: center;
}

#inputBtnArea{
	margin: 20px;
	text-align: center;
}

.btn-primary {
  background-color: #006dcc;
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #232f7f, #171f55);
  background-image: -ms-linear-gradient(top, #232f7f, #171f55);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#232f7f), to(#171f55));
  background-image: -webkit-linear-gradient(top, #232f7f, #171f55);
  background-image: -o-linear-gradient(top, #232f7f, #171f55);
  background-image: linear-gradient(top, #232f7f, #171f55);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'232f7f, endColorstr='#'171f55, GradientType=0);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #171f55;
}
