body{
	min-width: 250px;
	background: #FFF;
	margin: 10px;
	font-size: 12px;
	font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
}

#showCountArea{
}

#showCountTxtArea{
	width: 280px;
	margin: 20px;
	text-align: center;
}

.countTxtArea{
	margin: 6px;
}

.countTxt{
	font-size: 24px;
}

.commentArea{
	margin: 6px;
}

#resetArea{
	font-size: 8px;
	text-align: right;
}

a {
	text-decoration: underline;
}

a:hover {
	cursor: pointer;
}

#showInputArea{
}

#inputArea{
	width: 280px;
	margin: 20px;
	text-align: center;
}

#inputBtnArea{
	margin: 20px;
	text-align: center;
}