body{
	min-width: 250px;
	background: #fdf4f4;
	margin: 10px;
	color: #333333;
	font-size: 12px;
	font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
}

#showCountArea{
	display: none;
}

#showCountTxtArea{
	width: 280px;
	margin: 20px;
	text-align: center;
}

.countTxtArea{
	margin: 6px;
}

.countDuedateArea{
	background: url("img/maskingtape.png");
	line-height: 26px;
}

.countTxt{
	color: #171f55;
	font-size: 24px;
}

.commentArea{
	margin: 6px;
}

#resetArea{
	text-align: right;
}

#showInputArea{
	display: none;
}

#inputArea{
	width: 280px;
	margin: 20px;
	text-align: center;
}

#inputBtnArea{
	margin: 20px;
	text-align: center;
}